<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Browser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Browser.Properties.Settings>
            <setting name="Browser_cryptoProxy_Service" serializeAs="String">
                <value>http://venus.eas.asu.edu/WSRepository/Services/EncryptionWcf/Service.svc</value>
            </setting>
            <setting name="Browser_numberGuessProxy_Service" serializeAs="String">
                <value>http://venus.eas.asu.edu/WSRepository/Services/NumberGuess/Service.svc</value>
            </setting>
        </Browser.Properties.Settings>
    </applicationSettings>
</configuration>